<%= form_with model: [ @article, @article.comments.build ] do |form| %>

    <div style="width:400px; height:auto">
      <p>
        <%= form.label :body %><br>
        <%= form.text_area(:body, {:class => 'form-control'}) %>
      </p>
    </div>
    <br/>

    <p>
      <%= form.submit({:class => 'btn btn-success'}) %>
    </p>
    <br/>
    <br/>

  <% end %>
  