<%= form_with model: article do |form| %>
    
    <div style="width:400px; height:auto">
      <%= form.label :title %><br>
      <%= form.text_field(:title, {:class => 'form-control'}) %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    </div>
    <br/>
  
    <div style="width:400px; height:auto">
      <%= form.label :body %><br>
      <%= form.text_area(:body, {:class => 'form-control'}) %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div  class="alert alert-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :image %><br>
      <%= form.file_field(:image, {:class => 'rounded'}) %>
    </div>
    <br/>

    <div>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
    <br/>
    <br/>
  
    <div>
      <%= form.submit({:class => 'btn btn-success'}) %>
    </div>
    <br/>
    <br/>

  <% end %>
  