<h1>Articles</h1>
<br>

<span>This blog has <%= Article.all.count %> articles: <%= Article.public_count %> public, 
        <%= Article.private_count %> private and  <%= Article.archived_count %> archived!</span>
<br>
<br>

<div>
  <span class="font-weight-light">Select status filter:</span>
  <%= link_to "Public", articles_path(status: 'Public'), :class => 'btn btn-info btn-sm' %>
  <%= link_to "Private", articles_path(status: 'Private'), :class => 'btn btn-info btn-sm' %>
  <%= link_to "Archived", articles_path(status: 'Archived'), :class => 'btn btn-info btn-sm' %>
</div>

<div class="mt-2">
  <span class="font-weight-light">Select sorting order:</span>
  <%= link_to "From newest", articles_path(sort_type: 'newest'), :class => 'btn btn-info btn-sm' %>
  <%= link_to "From oldest", articles_path(sort_type: 'oldest'), :class => 'btn btn-info btn-sm' %>
  <%= link_to "From A to Z", articles_path(sort_type: 'title_asc'), :class => 'btn btn-info btn-sm' %>
  <%= link_to "From Z to A", articles_path(sort_type: 'title_desc'), :class => 'btn btn-info btn-sm' %>
</div>


<ul>
  <% @articles.each do |article| %>
    <div class="alert alert-light">
      <li>
        <h4><%= article.title %></h4>
        <%= link_to "Read more...", article, :class => 'btn btn-outline-primary btn-sm' %>
      </li>
    </div>
  <% end %>
</ul>
<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
<br><br>