<h1><%= @article.title %></h1>
<br/>

<p><%= @article.body %></p>

<% if @article.image.present? %>
  <div style="width:400px; height:auto">
    <%= image_tag(@article.image, class:'rounded', style:'width:100%') %>
  </div>
<% end %>
<br>

<% if @article.author.present? %>
<p>
  <em>Article author:</em>
  <em><%= @article.author.username %></em>
</p>
<% end %>
<br>

<% if policy(@article).update? %>
<%= link_to "Edit", edit_article_path(@article), :class => 'btn btn-info' %>
<% end %>
<% if policy(@article).destroy? %>
<%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  :class => 'btn btn-danger' %>
<% end %>
<br>
<br>

<h4>Comments</h4>
<%= render @article.comments %>
<br/>

<%if user_signed_in? %>
  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>
  <br/>
<% end %>
