<!DOCTYPE html>
<html>
  <head>
    <title>NedoICQ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h5 class="my-0 mr-md-auto font-weight-bold">NedoICQ</h5>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="../" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="/articles/new" class="nav-link px-2 text-white">New Article</a></li>
      </ul>
      
      <%= form_tag(articles_path, method: :get, 
              :class => 'col-12 col-lg-auto mb-6 mb-lg-0 me-lg-6') do %>
        <div class="input-group" style="width:350px">
          <%= text_field_tag(:search, params[:search], 
                :class => 'form-control form-control-dark',
                :placeholder => "Search...", 
                'aria-label' => 'Search',
                'aria-describedby' => 'basic-addon2') %>
          <div class="input-group-append">
            <%= submit_tag("Search", :class => 'btn btn-outline-secondary') %>
          </div>
      </div>
      <% end %> 
      

      <div class="text-end">
        <%if user_signed_in? %>
          <%= current_user.username %>
          <% if current_user.admin? %>
            <span>(admin)</span>
          <% end %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, 
                      data: {confirm: 'Are you sure ?'}, :class => 'btn btn-danger me-2' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, :class => 'btn btn-outline-success me-2' %>
          <%= link_to 'Sign up', "/users/sign_up", :class => 'btn btn-outline-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  </header>
  <br/>

  <%if notice.present? %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
  <% end %>
  <%if alert.present? %>
  <p class="alert alert-danger" role="alert"><%= alert %></p>
  <% end %>
  <br/>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
